<div class="caffetos-frame">
  <%= image_tag "about.png", alt:"Quienes somos", class:"about-image"%>
  <div class="about-text">
	  <p>
	  	<b>Caffetos</b>, es un café familiar y dinámico que entiende la creación de nuevos conceptos con una buena calidad.
	  </p>
	  <br/>
		<p> Un espacio  tranquilo en donde encontrarás una  gran variedad de  bebidas y comidas.</p> 
    <br/>
		<p>Nuestro cáfe ofrece:<br/> Un espacio céntrico y tranquilo donde puedes disfrutar un gran momento como familia, con tu pareja o amigos.</p>
    <br/>
		<p><b>Caffetos</b> es para ti, pensado en los amantes del cáfe, los postres y una deliciosa comida.</p>  
	</div>
</div>