@import 'compass';
@import 'bootstrap';
@import 'bootstrap-responsive';
.caffetos{
  background: url("background.png") no-repeat;
  color: #f2f2f2;
  font-family: Helvetica, Verdana;
  font-size: "12px";
  padding-top: 10%;
}

.caffetos-frame{
  @extend .span8;
  @extend .offset2;
  float: left;
  border: 10px solid #40271A;
  height: 300px;
  margin-bottom: 0; 
  overflow-y: hidden;
  .photos{
    @include border-radius(5px);
    @extend .span8;
    @extend .offset1;
    float: left;      
    list-style-type: none;
    margin: 20px 0 0 0; 
    li{
      @include border-radius(5px);
      background: #efefef;
      border: 1px solid #eaeaea;
      height: 80px;
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      padding: 4px;
      overflow: hidden;  
      width: 80px;
    }
  }
  .about-image{
    float: left;
  }
  .about-text{
    background-color: #EDECD0;
    color: #000;
    float: left;
    font-style: italic;
    height: 300px;
    line-height: 20px;
    padding: 10px;
    vertical-align: baseline;
    width: 338px;    
  }
}

.main-menu{
  @extend .span10;
  @extend .offset2;  
  float: left; 
  list-style-type: none;
  height: 53px;
  .logo{
    @extend .span3; 
    background-color: transparent;
    margin-top: -13px;
    padding: 0;
    &:hover{
     background-color: transparent; 
    }
  }     
  li{
    @include border-top-radius(3px); 
    color: #40271A;  
    float: left;
    margin-top: 13px;
    margin-left: 15px;
    padding: 16px 30px;
    text-align: center;
    width: auto;
    a{
      color: #40271A;
      font-size: 14px;
      font-weight: bold;
      &:hover{
        color: #f2f2f2;  
      }
    }
    &:hover{
      background-color: #40271A;
      color: #f2f2f2;
      a{
        color: #f2f2f2;
      }   
    }  
  }
}

footer{
  @extend .span8;
  @extend .offset2;  
  background-color: #40271A;
  float: left;        
  height: 80px;
  padding: 0 10px;
  .fb-logo{
    float: left;
  }
  .fb-like{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
    
  }
  p{
    margin-top: 40px;
    float: right;
  }
  .logout{ 
    clear: both;
    margin-top: -10px;
  }
}
