@import 'compass';
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'fancybox/jquery.fancybox.css';
.admin{
  padding-top: 10%;
}
.secret-box{
  @extend .well;
  @extend .offset4;
  @extend .span4;
}
.uploader{
  @include border-radius(3px);
  @extend .span3;
  background: #eee;
  border: 1px solid #eaeaea; 
  float: left;
  padding: 10px;    
}

.photos{
  @include border-radius(5px);
  @extend .span8;
  @extend .offset1;
  background-color: white-smock;
  float: left;      
  list-style-type: none;
  li{
    @include border-radius(5px);
    
    background: #efefef;
    border: 1px solid #eaeaea;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;  
    width: 50px;
    .remove{
      color: red;
      float: right;
      margin-right: -11px;
      margin-top: -62px;
      z-index: 12; 
    }
  }
}